﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    string podStyle = ViewData["podstyle"].ToString();
    
    string pageLayout = "";

    if (!Model.Content.HasValue("pageLayout"))
	{
        IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
        var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    	var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();

        if (globalSettings.HasValue("defaultPageLayout"))
        {
            pageLayout = globalSettings.GetProperty("defaultPageLayout").Value.ToString();
        }
	}
    else
    {
        pageLayout = Model.Content.GetProperty("pageLayout").Value.ToString();
    }
	
    switch (pageLayout)
    {
        case "Content left, with sidebar":
			@Html.Raw("<div id=\"right_col\" class=\"col-sm-4 col-lg-3 col-lg-offset-1\" role=\"complementary\">");                                                     
            if (Model.Content.IsDocumentType("USNBlogLandingPage") || Model.Content.IsDocumentType("USNBlogPost"))
            {
                @Html.Partial("USNBlog/USN_BlogArchiveNavigation", @Model)
                @Html.Partial("USNBlog/USN_BlogCategoryNavigation", @Model)
            }
			<!-- SUB  -->
			@Html.Partial("USNNavigation/USN_SubNavigation", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// SUB -->
			<!-- PROMO PODS -->
			@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// PROMO PODS -->
			@Html.Raw("</div>");
            break;
        case "Content right, with sidebar":
			@Html.Raw("<div id=\"left_col\" class=\"col-sm-4 col-lg-3 pull-left\" role=\"complementary\">");
            if (Model.Content.IsDocumentType("USNBlogLandingPage") || Model.Content.IsDocumentType("USNBlogPost"))
            {
                @Html.Partial("USNBlog/USN_BlogArchiveNavigation", @Model)
                @Html.Partial("USNBlog/USN_BlogCategoryNavigation", @Model)
            }    
			<!-- SUB  -->
			@Html.Partial("USNNavigation/USN_SubNavigation", @Model)
			<!--// SUB -->
			<!-- PROMO PODS -->
			@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// PROMO PODS -->
			@Html.Raw("</div>");
            break;
        case "Content center, pods left, navigation right":
            @Html.Raw("<div id=\"left_col\" class=\"col-sm-3 col-sm-pull-6\" role=\"complementary\">");
			<!-- SUB  -->
			@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// SUB -->
			@Html.Raw("</div>");
            @Html.Raw("<div id=\"right_col\" class=\"col-sm-3\" role=\"complementary\">");
            if (Model.Content.IsDocumentType("USNBlogLandingPage") || Model.Content.IsDocumentType("USNBlogPost"))
            {
                @Html.Partial("USNBlog/USN_BlogArchiveNavigation", @Model)
                @Html.Partial("USNBlog/USN_BlogCategoryNavigation", @Model)
            }    
			<!-- SUB  -->
            @Html.Partial("USNNavigation/USN_SubNavigation", @Model)
			<!--// SUB -->
            @Html.Raw("</div>");
            break;
        case "Content center, pods right, navigation left":
            @Html.Raw("<div id=\"left_col\" class=\"col-sm-3 col-sm-pull-6\" role=\"complementary\">");
            if (Model.Content.IsDocumentType("USNBlogLandingPage") || Model.Content.IsDocumentType("USNBlogPost"))
            {
                @Html.Partial("USNBlog/USN_BlogArchiveNavigation", @Model)
                @Html.Partial("USNBlog/USN_BlogCategoryNavigation", @Model)
            }                                                             
			<!-- SUB  -->
			@Html.Partial("USNNavigation/USN_SubNavigation", @Model)
			<!--// SUB -->
			@Html.Raw("</div>");
            @Html.Raw("<div id=\"right_col\" class=\"col-sm-3\" role=\"complementary\">");
			<!-- SUB  -->
			@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// SUB -->
			@Html.Raw("</div>");
            break;
        case "Content full width":
            break;
        default:
	        @Html.Raw("<div id=\"right_col\" class=\"col-sm-4 col-lg-3 col-lg-offset-1\" role=\"complementary\">");
            if (Model.Content.IsDocumentType("USNBlogLandingPage") || Model.Content.IsDocumentType("USNBlogPost"))
            {
                @Html.Partial("USNBlog/USN_BlogArchiveNavigation", @Model)
                @Html.Partial("USNBlog/USN_BlogCategoryNavigation", @Model)
            }                                                             
			<!-- SUB  -->
			@Html.Partial("USNNavigation/USN_SubNavigation", @Model)
			<!--// SUB -->
			<!-- PROMO PODS -->
			@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model, new ViewDataDictionary { { "podstyle", podStyle } })
			<!--// PROMO PODS -->
			@Html.Raw("</div>");
            break;
    }
		
}