﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

    string podStyle = ViewData["podstyle"].ToString();

    if (podStyle == "horizontal")
    {
        @Html.Raw("<div class=\"col-md-4 col-sm-6 col-xs-12\">");
    }

    <div class="item codeblock">
        @Html.Raw(Model.Content.GetProperty("code").Value)
    </div>
    
    if (podStyle == "horizontal")
    {
        @Html.Raw("</div>");
    }
}