﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;

@{

    string podStyle = ViewData["podstyle"].ToString();
    string title = "";

    if (podStyle == "horizontal")
    {
        @Html.Raw("<div class=\"col-md-4 col-sm-6 col-xs-12\">");
    }

    if (Model.Content.HasValue("podVideo"))
    {
        string videoURLOriginal = Model.Content.GetProperty("podVideo").Value.ToString().Trim();

        if (Model.Content.HasValue("lightwindowText"))
        {
            title = "data-title=\"" + Model.Content.GetProperty("lightwindowText").Value.ToString() + "\"";
        }

        string videoURLModified = "";
        string videoImage = "";
        string dataRemote = "";

        videoImage = VideoHelper.GetVideoInfo(videoURLOriginal, out videoURLModified, out dataRemote);

        if (Model.Content.HasValue("podThumbnailImage") && Umbraco.TypedMedia(Model.Content.GetProperty("podThumbnailImage").Value) != null)
        {
            videoImage = Umbraco.TypedMedia(Model.Content.GetProperty("podThumbnailImage").Value).GetCropUrl(width: 360, height: 270);
        }

        <div class="item videopod">
            <div class="image">
                <a href="@videoURLModified" @Html.Raw(title) data-toggle="lightbox" @Html.Raw(dataRemote)>
                    <img src="@videoImage" alt="@Model.Content.GetProperty("thumbnailImageAltText").Value">
                    <div class="overlayicon"><i class="fa fa-play fa-3x"></i></div>
                </a>
            </div>
        </div>
    }

    if (podStyle == "horizontal")
    {
        @Html.Raw("</div>");
    }
}