﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;

@{
    string podStyle = ViewData["podstyle"].ToString();

    LinkInfo podLink = USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("podLink"));
    
    string podHeading = Model.Content.GetProperty("podHeading").Value.ToString();
    string podText = Model.Content.GetProperty("podText").Value.ToString();

    if (podStyle == "horizontal")
    {
        @Html.Raw("<div class=\"col-md-4 col-sm-6 col-xs-12\">");
    }

    string backgroundStyle = "secondary_colour_3-bg";
    string headingStyle = "";
    string textStyle = "";

    if (Model.Content.HasValue("podBackgroundColor"))
    {
        switch (Model.Content.GetProperty("podBackgroundColor").Value.ToString())
        {
            case "ffffff":
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            case "0b5a9c":
                backgroundStyle = "primary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "66c989":
                backgroundStyle = "primary_colour_2-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "2e89b6":
                backgroundStyle = "secondary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "eeeeee":
                backgroundStyle = "secondary_colour_2-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            default:
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
        }
    }

    string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

    if (Model.Content.HasValue("podButtonColor"))
    {
        switch (Model.Content.GetProperty("podButtonColor").Value.ToString())
        {
            case "ffffff":
                buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                break;
            case "0b5a9c":
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
            case "66c989":
                buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                break;
            case "2e89b6":
                buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                break;
            case "eeeeee":
                buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                break;
            default:
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
        }
    }

    <div class="item panel panel-default">
        <div class="panel-body @backgroundStyle">
        @if (podLink != null || podHeading != String.Empty)
        {
            if (podLink != null)
            {
                @Html.Raw("<a href=\"" + podLink.LinkURL + "\" " + podLink.LinkTitle + " " + podLink.LinkTarget + ">")
            }
            if (podHeading != String.Empty)
            {
                @Html.Raw("<p class=\"heading " + headingStyle + "\">" + podHeading + " " + ((podLink != null) ? podLink.LinkIcon : "") + "</p>")
            }
            if (podLink != null)
            {
                @Html.Raw("</a>")
            }
        }

        @if (podText != String.Empty || podLink != null)
        {
            @Html.Raw("<div class=\"info\">");
        }

        @if (podText != String.Empty)
        {
            <div class="text @textStyle">@Html.Raw(podText)</div>
        }

        @if (podLink != null)
        {
            <p class="link"><a href="@podLink.LinkURL" @Html.Raw(podLink.LinkTitle) @Html.Raw(podLink.LinkTarget) class="btn @buttonStyle">@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
        }

        @if (podText != String.Empty || podLink != null)
        {
            @Html.Raw("</div>");
        }
        </div>
    </div>
    
    if (podStyle == "horizontal")
    {
        @Html.Raw("</div>");
    }

}