﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

    string podStyle = ViewData["podstyle"].ToString();

    if (podStyle == "horizontal")
    {
        @Html.Raw("<div class=\"col-md-4 col-sm-6 col-xs-12\">");
    }

    <div class="item quotes">

        <blockquote>
            <i class="fa fa-quote-left primary_colour_1-text"></i>
            <p>@Html.Raw(umbraco.library.ReplaceLineBreaks(Model.Content.GetProperty("quote").Value.ToString()))</p>
            @if (Model.Content.HasValue("cite"))
            {
                <cite>
                    @if (Model.Content.HasValue("cite"))
                    {
                        <span class="who">@Model.Content.GetProperty("cite").Value</span>
                    }
                </cite>
            }
        </blockquote>
    </div>
    
    if (podStyle == "horizontal")
    {
        @Html.Raw("</div>");
    }

}