﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

<!-- CONTENT -->
<section class="content">
<div class="container">

	<!-- ROW -->
	<div class="row">

		<div class="col-xs-12">
			<h1 class="heading" itemprop="name headline">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
		</div>

	</div>
	<!--// ROW -->
		
	<!-- ROW -->
	<div class="row">
			
		<!-- CONTENT COL -->
		@Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)
		    
			<!-- IMAGE -->
			@Html.Partial("USNMiscPageElements/USN_MainImage",@Model.Content)
			<!--// IMAGE -->
	       
			@Umbraco.Field("bodyText")
		
				
			@Html.Partial("USNStandardPageComponents/USN_StandardPageComponents",@Model.Content)
		
            <!-- META -->
            @Html.Partial("USNBlog/USN_BlogMeta", @Model.Content)
            <!--// META -->

			<!-- AUTHOR BIO -->
			@Html.Partial("USNBlog/USN_BlogAuthorship",@Model.Content)
			<!--// AUTHOR BIO -->
		
            <!-- PAGINATION  -->
			@Html.Partial("USNBlog/USN_BlogPostPreviousNext",@Model.Content)	
		    <!--// PAGINATION -->

            <!-- COMMENTS -->
			@Html.Partial("USNBlog/USN_BlogComments",@Model.Content)
            <!--// COMMENTS -->
		</div>
		<!--// CONTENT COL -->
			
	
		@Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })
			
	</div>
	<!--// ROW -->

    @Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
</div>
</section>	
<!--// CONTENT -->
		
@section BodyTag
{
<body>
}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
