﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

<!-- CONTENT -->
<section class="content">
<div class="container">

    <!-- ROW -->
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("USNBlog/USN_BlogLandingHeading", @Model.Content)
        </div>
    </div>
    <!--// ROW -->

	<!-- ROW -->
	<div class="row">
			
		<!-- CONTENT COL -->
		@Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)
				
			@Html.Partial("USNBlog/USN_BlogListing",@Model.Content)
				
		</div>
		<!--// CONTENT COL -->

		@Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })
		
	</div>
	<!--// ROW -->

   
     @Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

		
</div>
</section>	
<!--// CONTENT -->

@section BodyTag
{
<body>
}

@section FooterScripts
{
    @Html.Partial("USNBlog/USN_BlogDisqusCommentCountScript", @Model.Content)
}
