﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";

    if (!String.IsNullOrEmpty(Request.QueryString["signout"]))
    {
        FormsAuthentication.SignOut();
        Context.Response.Redirect(Model.Content.Url, true);
    }
}

<!-- CONTENT -->
<section class="content">
<div class="container">

	<!-- ROW -->
	<div class="row">

		<div class="col-xs-12">
			<h1 class="heading">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
		</div>

	</div>
	<!--// ROW -->
	
	<!-- ROW -->
	<div class="row">
			
		<!-- CONTENT COL -->
		@Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)
		
			<!-- IMAGE -->
			@Html.Partial("USNMiscPageElements/USN_MainImage",@Model.Content)
			<!--// IMAGE -->
	       
			@Umbraco.Field("bodyText")

            <!-- FORM -->
            @Html.Partial("USNForms/USN_LoginForm",new USN.Models.LoginFormViewModel())
			<!--// FORM -->
				
		</div>
		<!--// CONTENT COL -->
			
		@Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })
		
	</div>
	<!--// ROW -->

    @Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
</div>
</section>	
<!--// CONTENT -->

@section BodyTag
{
<body>
}