﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content='@Umbraco.Field("metaDescription")'>
    @Html.Partial("USNWebsiteHeadSection/USN_SEOPageHead", @Model.Content)

    <!-- WEB FONT -->
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/palette.css">
	
    <!-- INTERNAL STYLES -->
    @Html.Partial("USNWebsiteHeadSection/USN_InternalStyles", @Model.Content)

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/application.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/scripts/jquery.unobtrusive-ajax.min.js"></script>

	<!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css">
    <![endif]-->
	
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
    <!-- ICONS -->
    @Html.Partial("USNWebsiteHeadSection/USN_Icons", @Model.Content)

    @RenderSection("Head", false)
    @Html.Partial("USNWebsiteHeadSection/USN_HeaderScripts", @Model.Content)

</head>
@RenderSection("BodyTag", false)
<!-- SITE -->
<div id="site">
    
    <!-- HEADER -->
    <header>
	<div class="container">
		
		<!-- LOGO -->
		@Html.Partial("USNWebsiteHeadSection/USN_WebsiteLogo", @Model.Content)
		<!--// LOGO -->
		
		<!-- NAVIGATION -->
		<div class="navigation">

			<!-- EXPAND -->
			<a class="expand">
				<em>Menu</em>
				<span class="line top"></span>
				<span class="line mid"></span>
				<span class="line bottom"></span>
			</a>
			<!--// EXPAND -->
			<!-- REVEAL -->
			<div class="reveal">

				@Html.Partial("USNNavigation/USN_MainNavigation", @Model.Content)

				@Html.Partial("USNNavigation/USN_TopNavigation", @Model.Content)

				<!-- SITE SEARCH -->
				@Html.Partial("USNForms/USN_SearchForm", @Model.Content)
				<!--// SITE SEARCH -->

			</div>
			<!--// REVEAL -->
		</div>
		<!--// NAVIGATION -->
				
	</div>
    </header>
    <!--// HEADER -->
	
    <!-- BREADCRUMB -->
    @Html.Partial("USNNavigation/USN_Breadcrumb", @Model.Content)
    <!--// BREADCRUMB -->
    							
    @RenderBody()

    <!-- OUTRO STRIP -->
    @Html.Partial("USNMiscPageElements/USN_OutroStripSection", @Model.Content)
     <!--// OUTRO STRIP -->

    <!-- FOOTER -->
    <footer class="primary_colour_1-bg">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="col-md-3 col-sm-5 col-xs-12">

                    <!-- COMPANY DETAILS -->
                    @Html.Partial("USNWebsiteFooterSection/USN_FooterContactInformation", @Model.Content)
                    <!--// COMPANY DETAILS -->

                </div>

                <div class="col-md-5 col-sm-6 col-xs-12">

                    @Html.Partial("USNNavigation/USN_FooterQuickLinks", @Model.Content)

                </div>

                <div class="col-md-3 col-md-offset-1 col-xs-12">

                    @Html.Partial("USNWebsiteFooterSection/USN_FooterSocialLinks", @Model.Content)

                </div>

            </div>
            <!--// ROW -->
            <!-- ROW -->
            <div class="row">

                <div class="col-sm-12">

                    <nav class="footer">
                        <ul class="nav">
                            <li class="copyright"><div>&copy; @DateTime.Now.ToString("yyyy")</div></li>
                            @Html.Partial("USNNavigation/USN_FooterNavigation", @Model.Content)
                            <li class="site_credit pull-right">
                                <div>a premium Umbraco theme from</div>
                                <a target="_blank" title="Link will open in a new window/tab" href="http://www.uskinned.net"><span>uSkinned&trade;</span></a>
                            </li>
                        </ul>
                    </nav>

                </div>

            </div>
            <!--// ROW -->

        </div>
    </footer>
    <!--// FOOTER -->
    <!-- BACK TO TOP -->
    <span id="top-link-block">
        <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </span>
    <!--// BACK TO TOP -->

</div>
<!--// SITE -->
@RenderSection("FooterScripts", false)
@Html.Partial("USNWebsiteFooterSection/USN_FooterScripts", @Model.Content)
</body>
</html>