﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";
}

<!-- CONTENT -->
<section class="content">
    <div class="container">

        <!-- ROW -->
        <div class="row">

			<div class="col-xs-12">
           		<h1 class="heading">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
			</div>

    	</div>
    	<!--// ROW -->

        <!-- ROW -->
        <div class="row">

            <!-- CONTENT COL -->
            @Html.Partial("USNLayout/USN_ContentColumnStyle", @Model.Content)

            <!-- IMAGE -->
            @Html.Partial("USNMiscPageElements/USN_MainImage", @Model.Content)
            <!--// IMAGE -->
            @Umbraco.Field("bodyText")

            @Html.Partial("USNListings/USN_SubpageListing", @Model.Content)

            @Html.Partial("USNStandardPageComponents/USN_StandardPageComponents", @Model.Content)

        	</div>
        	<!--// CONTENT COL -->
			
        	@Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })

		</div>
		<!--// ROW -->
    

    </div>
</section>
<!--// CONTENT -->

@Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })

@section BodyTag
{
    <body>
}