﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "USNMaster.cshtml";

    if (CurrentPage.Name == "Page not found")
    {
        Response.Status = "404 Not Found";
        Response.StatusCode = 404;
    }
}

<!-- CONTENT -->
<section class="content">
<div class="container">

	<!-- ROW -->
	<div class="row">

		<div class="col-xs-12">
			<h1 class="heading">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
		</div>

	</div>
	<!--// ROW -->
		
	<!-- ROW -->
	<div class="row">
			
		<!-- CONTENT COL -->
		@Html.Partial("USNLayout/USN_ContentColumnStyle",@Model.Content)
		
			<!-- IMAGE -->
			@Html.Partial("USNMiscPageElements/USN_MainImage",@Model.Content)
			<!--// IMAGE -->
	       
			@Umbraco.Field("bodyText")
		
			@Html.Partial("USNNavigation/USN_Sitemap",@Model.Content)
				
		</div>
		<!--// CONTENT COL -->
			
		@Html.Partial("USNLayout/USN_PodAndNavColumn", @Model.Content, new ViewDataDictionary { { "podstyle", "verticle" } })
						
	</div>
	<!--// ROW -->

    @Html.Partial("USNSiteWidePods/USN_SitewidePods", @Model.Content, new ViewDataDictionary { { "podstyle", "horizontal" } })
		
</div>
</section>	
<!--// CONTENT -->
		
@section BodyTag
{
<body>
}