﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Newtonsoft.Json.Linq;

@{
    string pageType = ViewData["pageType"].ToString();
    
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->
    
    @* Add container for page components on advanced page *@
    if (pageType == "advanced")
    {
        @Html.Raw("<section class=\"content advanced-component standard-components\"><div class=\"container\"><div class=\"row\"><div id=\"mid_col\" class=\"col-md-8 col-md-offset-2 col-xs-12\" role=\"main\">")
    }

    var groupLinks = Model.Content.GetPropertyValue<JArray>("groupLinks");

    <!-- PAGE COMPONENT QUICK LINKS -->
    if (groupLinks != null && Model.Content.GetPropertyValue<string>("groupLinks", true, "").Length > 2)
    {
        <div class="page_component quick_links panel panel-default">
            <div class="panel-body">
                <nav class="row">
                    <ul>
                        @foreach (JObject link in groupLinks)
                        {
                            string linkTitle = String.Empty;
                            string linkURL = String.Empty;
                            string linkTarget = String.Empty;
                            string linkIcon = String.Empty;
                            IPublishedContent node = null;

                            linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);
                            
                            if (linkURL!= String.Empty)
                            { 
                                <li class="col-md-4 col-xs-6">
                                    <a href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>
                                        <i class="fa fa-angle-right"></i>@(link.Value<string>("caption"))@Html.Raw(linkIcon)
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>                
    }
    <!--// PAGE COMPONENT QUICK LINKS -->
    
    @* Close container for page components on advanced page *@
    if (pageType == "advanced")
    {
        @Html.Raw("</div></div></div></section>")
    }
}
