﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using USN.BusinessLogic;
@using USN.Blog;
@{

    // get landing page
    var landing = DataService.Instance.GetLanding(Model.Content);
    
    // get all posts
    IEnumerable<IPublishedContent> posts = PostService.Instance.GetPosts(landing);
    
    var lastPubDate = !posts.Any() ? DateTime.Now.ToString() : posts.FirstOrDefault().GetProperty("postDate").Value.ToString();
    
    // get blog url
    string blogUrl = Request.Url.AbsoluteUri.Replace(Model.Content.Url(), string.Empty).TrimEnd("/".ToCharArray());
  
    Response.Clear();
    Response.ContentType = "text/xml";
    Response.ContentEncoding = System.Text.Encoding.UTF8;
    @Html.Raw("<?xml version=\"1.0\" encoding=\"UTF-8\" ?>")                  
    <rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>
    <channel>
            <title>@Model.Content.GetProperty("rssTitle").Value</title>
            <description>@Model.Content.GetProperty("rssDescription").Value</description>
            <copyright>@Model.Content.GetProperty("rssCopyright").Value @DateTime.Now.Year</copyright>
            @Html.Raw("<link>")
            @Html.Raw(blogUrl)
            @Html.Raw("</link>")
            <lastBuildDate>@lastPubDate.FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss")</lastBuildDate>
            <pubDate>@lastPubDate.FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss")</pubDate>

            @foreach (var p in posts)
            {

                string postName = "";

                if (p.HasValue("onPageTitle"))
                {
                    postName = p.GetProperty("onPageTitle").Value.ToString();
                }
                else
                {
                    postName = p.Name;
                }


                string mainText = p.GetProperty("bodyText").Value.ToString().StripHtml().Trim();

                if (mainText.Length >= 150)
                {
                    mainText = mainText.Substring(0, 150);
                }

                
                <item>
                    <title>@postName</title>
                    <comments>@blogUrl@p.Url</comments>
					<description><![CDATA[@mainText ... <a href="@blogUrl@p.Url">Continue reading</a>]]></description>
                    @Html.Raw("<link>")
                    @Html.Raw(blogUrl + p.Url)
                    @Html.Raw("</link>")
                    <guid>@blogUrl@p.Url</guid>
                    <pubDate>@p.GetProperty("postDate").Value.ToString().FormatDateTime("ddd, dd MMMM yyyy HH:mm:ss") </pubDate>
                </item>
            }
        </channel>        
    </rss>
}
