﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;

@{

    if (Model.Content.IsDocumentType("USNBlogLandingPage"))
    {
        string catID = Request.QueryString["category"];

        if (String.IsNullOrEmpty(catID))
        {
            <h1 itemprop="name headline">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
        }
        else
        {
            var catPage = Umbraco.TypedContent(Convert.ToInt32(catID));
            if (catPage.HasValue("categoryPageTitle"))
            {
                <h1 itemprop="name headline">@catPage.GetProperty("categoryPageTitle").Value</h1>
            }
            else
            {
                <h1 itemprop="name headline">@catPage.Name</h1>
            }
        }
    }
    else
    {
        <h1 itemprop="name headline">@Umbraco.Field("onPageTitle", altFieldAlias: "pageName")</h1>
    }

}

