﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;
@using USN.Blog;
	
@{
    var categoryFolder = Model.Content.Children.Where(x => x.IsDocumentType("USNBlogCategories")).First();
    

    // get item count
    int count = int.TryParse(Model.Content.GetProperty("blogListingPageSize").Value.ToString(), out count) ? count : 10;
    // get tag, category, or author from query string
    int page = int.TryParse(Request.QueryString["page"], out page) ? page : 1;
	int year = int.TryParse(Request.QueryString["year"], out year) ? year: 0;
    int month = int.TryParse(Request.QueryString["month"], out month) ? month: 0;

    string catID = Request.QueryString["category"];

    IEnumerable<IPublishedContent> posts = PostService.Instance.GetPosts(Model.Content, catID, page - 1, count, month, year);

    // get landing node
    var landing = DataService.Instance.GetLanding(Model.Content);

    // only get posts where the path has the landing node's id.
    posts = posts.Where(x => x.Path.Contains(landing.Id + ","));

    IEnumerable<IPublishedContent> nodes = posts.Take(count).ToList();

    int postCount = PostService.Instance.GetPosts(Model.Content, catID, 0, int.MaxValue, month, year).Count();

    int summaryTextLength = 0;

    if (Model.Content.HasValue("blogSummaryTextCharacterCount"))
    {
        summaryTextLength = Convert.ToInt32(Model.Content.GetProperty("blogSummaryTextCharacterCount").Value);
    }

    //Only display blog page content on first page
    if (page == 1)
    { 
        if(String.IsNullOrEmpty(catID) && String.IsNullOrEmpty(Request.QueryString["year"]))
        { 
            <!-- IMAGE -->
	        @Html.Partial("USNMiscPageElements/USN_MainImage",@Model)
	        <!--// IMAGE -->
	       
	        @Umbraco.Field("bodyText")
        }
        else if (!String.IsNullOrEmpty(catID) && String.IsNullOrEmpty(Request.QueryString["year"]))
        {
            var catPage = Umbraco.TypedContent(Convert.ToInt32(catID));
            @Umbraco.Field(catPage,"categoryIntroduction")
        }
    }
    
    if (posts.Count() > 0)
    {       
    <!-- LISTING -->
	<div class="listing blog">     
        @foreach (IPublishedContent n in nodes)
        {
            Boolean displaySummaryText = false;
            string introText = "";

            if (n.HasValue("postSummary"))
            {
                introText = n.GetProperty("postSummary").Value.ToString();
                displaySummaryText = true;
            }
            else
            {
                if (summaryTextLength > 0)
                {
                    introText = library.StripHtml(n.GetProperty("bodyText").Value.ToString());
                    
                    displaySummaryText = true;

                    
                    if (introText.Length >= summaryTextLength)
                    {
                        introText = introText.Substring(0, summaryTextLength);
                    }

                    if (introText.Length > 0)
                    {
                        introText = "<p>" + introText + " ...</p>";
                    }
                }
            }
                
		    <div class="item" itemscope itemtype="http://schema.org/BlogPosting">
                <a href="@n.Url" itemprop="url">
                    @{

                        string postName = "";

                        if (n.HasValue("onPageTitle"))
                        {
                            postName = n.GetProperty("onPageTitle").Value.ToString();
                        }
                        else
                        {
                            postName = n.Name;
                        }

                        if (n.HasValue("blogListingImage") && Umbraco.TypedMedia(n.GetProperty("blogListingImage").Value) != null)
                        {
                           
                            <div class="image"><img src="@Umbraco.TypedMedia(n.GetProperty("blogListingImage").Value).GetCropUrl(width: 1140, height: 550)" alt="@n.GetProperty("listingImageAltText").Value" itemprop="image"></div>
                        }

                    }
                    <p class="heading" itemprop="name headline">
                        @postName
                    </p>
                </a>

                <div class="info">
                   
                        @if (displaySummaryText)
                        {
                            <div class="text" itemprop="articleBody">@Html.Raw(introText)</div>
                        }
            </div>
            @Html.Partial("USNBlog/USN_BlogMeta", @n) 
        </div>
        }
    </div>
				
        // pagination
        @RenderPagination(page, postCount, count)
    }
    else
    {
        <p>@umbraco.library.GetDictionaryItem("USN Blog Nothing Found")</p>
    }

 }

@helper RenderPagination(int page, int postCount, int itemsPerPage)
{
    int pages = (int)Math.Ceiling((double)postCount / (double)itemsPerPage);

    string url = Request.Url.ToString();
    string querystring = Request.Url.Query;

    int pagesPerGroup = 10;

    if (pages > 1)
    {
        <nav id="pagination" class="text-center">
            <ul class="pagination">
                @* render prev link *@
                @if (page > 1)
                {
                    url = url.ReplaceQueryStringItem("page", (page - 1).ToString());
                    <li>
                        <a href="@url" aria-label="Previous"><i class="fa fa-angle-left"></i>@umbraco.library.GetDictionaryItem("USN Listing Navigation Previous")</a>
                    </li>

                    if (page > pagesPerGroup)
                    {
                        if (page % pagesPerGroup == 0)
                        {
                            url = url.ReplaceQueryStringItem("page", (page - pagesPerGroup).ToString());
                        }
                        else
                        {
                            url = url.ReplaceQueryStringItem("page", ((page / pagesPerGroup) * pagesPerGroup).ToString());
                        }

                        <li><a href="@url">...</a></li>
                    }
                }
                @* render page links *@
                @{
                int pagesCount = 0;
                int startPage = 1;


                if (page <= pagesPerGroup)
                {
                    startPage = 1;
                }
                else if (page % pagesPerGroup > 0)
                {
                    startPage = page - (page % pagesPerGroup) + 1;
                }
                else if (page % pagesPerGroup == 0)
                {
                    startPage = (page - pagesPerGroup) + 1;
                }

                for (int i = startPage; i < pages + 1; i++)
                {
                    if (pagesCount == pagesPerGroup)
                    {
                        break;
                    }
                    url = url.ReplaceQueryStringItem("page", i.ToString());
                    string pageClass = i == page ? "active" : string.Empty;

                    <li class="@pageClass">
                        @if (page == i)
                        {
                            <a href="@url" class="disabled">@i<span class="sr-only">(current)</span></a>
                        }
                        else
                        {
                            <a href="@url">@i</a>
                        }
                    </li>

                        pagesCount += 1;
                }

                }
                @{

                int totalGroups = 0;

                if (pages % pagesPerGroup == 0)
                {
                    totalGroups = pages / pagesPerGroup;
                }
                else
                {
                    totalGroups = pages / pagesPerGroup + 1;
                }

                int currentGroup = 0;

                if (page % pagesPerGroup == 0)
                {
                    currentGroup = page / pagesPerGroup;
                }
                else
                {
                    currentGroup = page / pagesPerGroup + 1;
                }


                if (totalGroups != currentGroup)
                {

                    if (page % pagesPerGroup == 0)
                    {
                        url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                    }
                    else
                    {
                        int liPageNumber = (((page / pagesPerGroup) + 1) * pagesPerGroup) + 1;
                        url = url.ReplaceQueryStringItem("page", liPageNumber.ToString());
                    }

                    <li>
                        <a href="@url">...</a>

                    </li>
                }
                }

                @if (page < Math.Ceiling((double)postCount / itemsPerPage))
                {
                    url = url.ReplaceQueryStringItem("page", (page + 1).ToString());
                    @* render next link *@
                    <li>


                        <a href="@url" aria-label="Next">@umbraco.library.GetDictionaryItem("USN Listing Navigation Next")<i class="fa fa-angle-right after"></i></a>

                    </li>
                }
            </ul>

        </nav>
    }
}

