﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;
@using USN.Blog;

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();

    string canonical = "";
    string title = "";
    string image = "";
    string siteName = "";
    string description = "";

    if (!Model.Content.IsDocumentType("USNBlogLandingPage"))
    {
        canonical = Request.Url.Scheme + "://" + Request.Url.Host + Model.Content.Url;
    }
    else
    {
        var categoryFolder = Model.Content.Children.Where(x => x.IsDocumentType("USNBlogCategories")).First();

        // get item count
        int count = int.TryParse(Model.Content.GetProperty("blogListingPageSize").Value.ToString(), out count) ? count : 10;
        // get tag, category, or author from query string
        var category = Request.QueryString["category"];
        int page = int.TryParse(Request.QueryString["page"], out page) ? page : 1;
        int year = int.TryParse(Request.QueryString["year"], out year) ? year : 0;
        int month = int.TryParse(Request.QueryString["month"], out month) ? month : 0;
        
        var categoryNodeMatch = categoryFolder.Descendants().Where(x => x.Name.ToLower() == Server.UrlDecode(category)).Take(1);

        string catID = "";

        foreach (var categoryNode in categoryNodeMatch)
        {
            catID = categoryNode.Id.ToString();
            break;
        }

        IEnumerable<IPublishedContent> posts = PostService.Instance.GetPosts(Model.Content, catID, page - 1, count, month, year);

        // get landing node
        var landing = DataService.Instance.GetLanding(Model.Content);

        // only get posts where the path has the landing node's id.
        posts = posts.Where(x => x.Path.Contains(landing.Id + ","));

        IEnumerable<IPublishedContent> nodes = posts.Take(count).ToList();

        int postCount = PostService.Instance.GetPosts(Model.Content, catID, 0, int.MaxValue, month, year).Count();

        int pages = (int)Math.Ceiling((double)postCount / (double)count);

        string querystring = Request.Url.Query;

        canonical = Request.Url.Scheme + "://" + Request.Url.Host + Model.Content.Url + querystring;

        if (page > 1)
        {
            string prevUrl = canonical.ReplaceQueryStringItem("page", (page - 1).ToString());

            <link rel="prev" href="@prevUrl"/>
        }

        if (pages > 1 && page < Math.Ceiling((double)postCount / count))
        {
            string nextUrl = canonical.ReplaceQueryStringItem("page", (page + 1).ToString());
             <link rel="next" href="@nextUrl"/>
        }
    }
    <link rel="canonical" href="@canonical"/>
    
    if (Model.Content.HasValue("pageTitle"))
    {
		@Html.Raw("<title>" + Model.Content.GetProperty("pageTitle").Value + "</title>")
    }
    else
    {
		@Html.Raw("<title>" + Model.Content.Name + " - " + globalSettings.GetProperty("websiteName").Value + "</title>")
    }

    if (Model.Content.HasValue("openGraphTitle"))
    {
        title = Model.Content.GetProperty("openGraphTitle").Value.ToString();
    }
    else
    {
        title = Model.Content.Name + " - " + globalSettings.GetProperty("websiteName").Value;
    }

    if (Model.Content.HasValue("openGraphImage") && Umbraco.TypedMedia(Model.Content.GetProperty("openGraphImage").Value) != null)
    {
        image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(Model.Content.GetProperty("openGraphImage").Value).Url;
    }
    else if (globalSettings.HasValue("openGraphDefaultImage") && Umbraco.TypedMedia(globalSettings.GetProperty("openGraphDefaultImage").Value) != null)
    {
        image = Request.Url.Scheme + "://" + Request.Url.Host + Umbraco.TypedMedia(globalSettings.GetProperty("openGraphDefaultImage").Value).Url;
    }

    if (Model.Content.HasValue("openGraphDescription"))
    {
        description = Model.Content.GetProperty("openGraphDescription").Value.ToString();
    }

    if (globalSettings.HasValue("websiteName"))
    {
        siteName = globalSettings.GetProperty("websiteName").Value.ToString();
    }
    
	<meta property="og:type" content="website">
    <meta property="og:title" content="@title" />
    <meta property="og:image" content="@image" />
    <meta property="og:url" content="@canonical" />
    <meta property="og:description" content="@description" />
    <meta property="og:site_name" content="@siteName" />	
		
    if (Model.Content.IsDocumentType("USNHomepage") && globalSettings.HasValue("googleBusinessLink"))
	{
	<link href="@globalSettings.GetProperty("googleBusinessLink").Value" rel="publisher" />
	}
}