﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;

@{
    IPublishedContent homeNode = Model.Content.AncestorOrSelf(1);
    var settingsFolder = Umbraco.TypedContent(homeNode.GetProperty("websiteConfigurationNode").Value);
    var globalSettings = settingsFolder.Children.Where(x => x.IsDocumentType("USNGlobalSettings")).First();

    string headingSource = "";
    string text = "";
    string backgroundColor = "";
    string buttonColor = "";

    LinkInfo outroLink; 

    if(!Model.Content.GetPropertyValue<Boolean>("hideOutroStripSection"))
    {
        if (Model.Content.GetPropertyValue<Boolean>("overrideDefaultOutroStripSection"))
        {
            outroLink = USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("outroLink"));

            if (Model.Content.HasValue("outroHeading"))
            {
                var heading = Model.Content.GetPropertyValue<USNHeading>("outroHeading");

                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                {
                    headingSource = "<" + heading.HeadingStyle + " class=\"heading main {0}\">" + heading.Heading + "</" + heading.HeadingStyle + ">";
                }   
            }
            
            if (Model.Content.HasValue("outroText"))
            {
                text = Model.Content.GetProperty("outroText").Value.ToString();
            }
            
            if (Model.Content.HasValue("outroBackgroundColor"))
            {
                backgroundColor = Model.Content.GetProperty("outroBackgroundColor").Value.ToString();
            }

            if (Model.Content.HasValue("outroButtonColor"))
            {
                buttonColor = Model.Content.GetProperty("outroButtonColor").Value.ToString();
            }
        }
        else
        {
            outroLink = USNUrlHelper.GetSingleUrlFromUrlPicker(globalSettings.GetPropertyValue<UrlPicker>("outroDefaultLink"));

            if (globalSettings.HasValue("outroDefaultHeading"))
            {
                var heading = globalSettings.GetPropertyValue<USNHeading>("outroDefaultHeading");

                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                {
                    headingSource = "<" + heading.HeadingStyle + " class=\"heading main {0}\">" + heading.Heading + "</" + heading.HeadingStyle + ">";
                }   
            }
            
            if (globalSettings.HasValue("outroDefaultText"))
            {
                text = globalSettings.GetProperty("outroDefaultText").Value.ToString();
            }

            if (globalSettings.HasValue("outroDefaultBackgroundColor"))
            {
                backgroundColor = globalSettings.GetProperty("outroDefaultBackgroundColor").Value.ToString();
            }

            if (globalSettings.HasValue("outroDefaultButtonColor"))
            {
                buttonColor = globalSettings.GetProperty("outroDefaultButtonColor").Value.ToString();
            }
        }

        string backgroundStyle = "secondary_colour_3-bg";
        string headingStyle = "";
        string textStyle = "";

        switch (backgroundColor)
        {
            case "ffffff":
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            case "0b5a9c":
                backgroundStyle = "primary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "66c989":
                backgroundStyle = "primary_colour_2-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "2e89b6":
                backgroundStyle = "secondary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "eeeeee":
                backgroundStyle = "secondary_colour_2-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            default:
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
        }

        string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

        switch (buttonColor)
        {
            case "ffffff":
                buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                break;
            case "0b5a9c":
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
            case "66c989":
                buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                break;
            case "2e89b6":
                buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                break;
            case "eeeeee":
                buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                break;
            default:
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
        }

        if (outroLink != null || text != String.Empty || headingSource != String.Empty)
        {
        <section class="content advanced-component cta-strip @backgroundStyle">
            <div class="container">

                @if (headingSource != String.Empty)
                { 
                <!-- ROW -->
                <div class="row">
					
                    <div class="col-xs-12">
						
						@Html.Raw(headingSource.Replace("{0}",headingStyle))
								
                    </div>

                </div>
                <!--// ROW -->
                }
                <!-- ROW -->
                <div class="row">
							
                    @if (text != String.Empty)
                    {
                    <div class="col-md-8 col-xs-12">
						
						<div class="text @textStyle">
                        @Html.Raw(text)
						</div>
								
                    </div>
							
                    }
                    @if (outroLink != null)
                    { 
                    <div class="col-md-3 col-xs-12 pull-right">

                        <p class="link"><a class="btn btn-block btn-lg @buttonStyle" href="@outroLink.LinkURL" @Html.Raw(outroLink.LinkTarget) @Html.Raw(outroLink.LinkTitle)>@outroLink.LinkCaption@Html.Raw(outroLink.LinkIcon)</a></p>

                    </div>
                    }

                </div>
                <!--// ROW -->

            </div>
        </section>
        }
    }
}