﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.BusinessLogic;
@using USN.Heading.Umbraco.Models;
@using USN.UrlPicker.Umbraco.Models;

@{
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    string firstDivClass = "col-md-5 col-xs-12 pull-left";
    string secondDivClass = "col-md-6 col-xs-12 pull-right";
    string title = "";
    string imageFadeInDirection = "fadeInRight";

    if (Model.Content.HasValue("textSectionPosition") && Model.Content.GetProperty("textSectionPosition").Value.ToString() == "Right")
    {
        firstDivClass = "col-md-5 col-xs-12 pull-right";
        secondDivClass = "col-md-6 col-xs-12 pull-left";
        imageFadeInDirection = "fadeInLeft";
    }

    string image = "";
    string videoURLModified = "";
    string dataRemote = "";

    if (Model.Content.HasValue("video"))
    {
        string videoURLOriginal = Model.Content.GetProperty("video").Value.ToString().Trim();

        if (Model.Content.HasValue("lightwindowText"))
        {
            title = "data-title=\"" + Model.Content.GetProperty("lightwindowText").Value.ToString() + "\"";
        }

        image = VideoHelper.GetVideoInfo(videoURLOriginal, out videoURLModified, out dataRemote);
    }

    if (Model.Content.HasValue("image") && Umbraco.TypedMedia(Model.Content.GetProperty("image").Value) != null)
    {
        image = @Umbraco.TypedMedia(Model.Content.GetProperty("image").Value).GetCropUrl(width: 720, height: 495);
    }

    string backgroundStyle = "secondary_colour_3-bg";
    string headingStyle = "";
    string textStyle = "";

    if (Model.Content.HasValue("backgroundColor"))
    {
        switch (Model.Content.GetProperty("backgroundColor").Value.ToString())
        {
            case "ffffff":
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            case "0b5a9c":
                backgroundStyle = "primary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "66c989":
                backgroundStyle = "primary_colour_2-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "2e89b6":
                backgroundStyle = "secondary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "eeeeee":
                backgroundStyle = "secondary_colour_2-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            default:
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
        }
    }

    string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

    if (Model.Content.HasValue("buttonColor"))
    {
        switch (Model.Content.GetProperty("buttonColor").Value.ToString())
        {
            case "ffffff":
                buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                break;
            case "0b5a9c":
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
            case "66c989":
                buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                break;
            case "2e89b6":
                buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                break;
            case "eeeeee":
                buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                break;
            default:
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
        }
    }

    string animateClass = "";

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    LinkInfo link = USNUrlHelper.GetSingleUrlFromUrlPicker(Model.Content.GetPropertyValue<UrlPicker>("link"));

    <section class="content advanced-component text-with-image_video @backgroundStyle">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="@firstDivClass @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0">

                    <!-- INFO -->
                    <div class="info">
                        
                        @if (Model.Content.HasValue("heading"))
                        {
                            var heading = Model.Content.GetPropertyValue<USNHeading>("heading");

                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                            {
                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + headingStyle + "\">")
                                @heading.Heading
                                @Html.Raw("</" + heading.HeadingStyle + ">")
                            }
                        }

                        @if (Model.Content.HasValue("text"))
                        {
                            <div class="text @textStyle">
                                @Html.Raw(Model.Content.GetProperty("text").Value)
                            </div>
                        }
                        
                        @if (link != null)
                        {
                            <p class="link"><a role="button" class="btn @buttonStyle" href="@link.LinkURL" @Html.Raw(link.LinkTarget) @Html.Raw(link.LinkTitle)>@link.LinkCaption@Html.Raw(link.LinkIcon)</a></p>
                        }
                    </div>
                    <!--// INFO -->

                </div>

                <div class="@secondDivClass">

                    @if (image != String.Empty)
                    {
                        <div class="image video @animateClass" data-os-animation="@imageFadeInDirection" data-os-animation-delay="0">
                            @if (videoURLModified != String.Empty)
                            {
                                @Html.Raw(String.Format("<a href=\"{0}\" {1} data-toggle=\"lightbox\" {2}>", videoURLModified, title, dataRemote))
                            }

                            <img alt="@Model.Content.GetProperty("imageAltText").Value" src="@image">

                            @if (videoURLModified != String.Empty)
                            {
                                @Html.Raw("<div class=\"overlayicon\"><i class=\"fa fa-play fa-3x\"></i></div></a>")
                            }
                        </div>
                    }

                </div>


            </div>
            <!--// ROW -->

        </div>
    </section>

}