﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;

@{
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    int totalItems = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Pod")).Count();

    int currentListCount = 1;

    int totalRows = (totalItems / 3);

    if (totalItems % 3 > 0)
    {
        totalRows += 1;
    }

    if (totalItems > 0)
    {
        string backgroundStyle = "secondary_colour_3-bg";
        string headingStyle = "";
        string textStyle = "";

        if (Model.Content.HasValue("backgroundColor"))
        {
            switch (Model.Content.GetProperty("backgroundColor").Value.ToString())
            {
                case "ffffff":
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                case "0b5a9c":
                    backgroundStyle = "primary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "66c989":
                    backgroundStyle = "primary_colour_2-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "2e89b6":
                    backgroundStyle = "secondary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "eeeeee":
                    backgroundStyle = "secondary_colour_2-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                default:
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
            }
        }

        string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

        if (Model.Content.HasValue("buttonColor"))
        {
            switch (Model.Content.GetProperty("buttonColor").Value.ToString())
            {
                case "ffffff":
                    buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                    break;
                case "0b5a9c":
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
                case "66c989":
                    buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                    break;
                case "2e89b6":
                    buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                    break;
                case "eeeeee":
                    buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                    break;
                default:
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
            }
        }

        string animateClass = "";

        if (Model.Content.GetPropertyValue<bool>("animate"))
        {
            animateClass = "os-animation";
        }


        <section class="content advanced-component promo_pods @backgroundStyle">
            <div class="container">

                @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
                {
                <!-- ROW - OVERVIEW -->
                <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                        @if (Model.Content.HasValue("introductionHeading"))
                        {
                            var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");

                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                            {
                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + headingStyle + "\">" + heading.Heading + "</" + heading.HeadingStyle + ">")
                            }
                        }
                        @if (Model.Content.HasValue("introductionText"))
                        {
                            <div class="text @textStyle">
                                @Html.Raw(Model.Content.GetProperty("introductionText").Value)
                            </div>
                        }
                    </div>
                </div>
                <!--// ROW - OVERVIEW -->
                }
                
                <!-- ROW -->
                <div class="row">
                    @foreach (var pod in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Pod")))
                    {
                        string podBackgroundStyle = "secondary_colour_3-bg";
                        string podHeadingStyle = "";
                        string podTextStyle = "";

                        if (pod.HasValue("backgroundColor"))
                        {
                            switch (pod.GetProperty("backgroundColor").Value.ToString())
                            {
                                case "ffffff":
                                    podBackgroundStyle = "secondary_colour_3-bg";
                                    podHeadingStyle = "primary_colour_1-text";
                                    podTextStyle = "";
                                    break;
                                case "0b5a9c":
                                    podBackgroundStyle = "primary_colour_1-bg";
                                    podHeadingStyle = "secondary_colour_3-text";
                                    podTextStyle = "secondary_colour_3-text";
                                    break;
                                case "66c989":
                                    podBackgroundStyle = "primary_colour_2-bg";
                                    podHeadingStyle = "secondary_colour_3-text";
                                    podTextStyle = "secondary_colour_3-text";
                                    break;
                                case "2e89b6":
                                    podBackgroundStyle = "secondary_colour_1-bg";
                                    podHeadingStyle = "secondary_colour_3-text";
                                    podTextStyle = "secondary_colour_3-text";
                                    break;
                                case "eeeeee":
                                    podBackgroundStyle = "secondary_colour_2-bg";
                                    podHeadingStyle = "primary_colour_1-text";
                                    podTextStyle = "";
                                    break;
                                default:
                                    podBackgroundStyle = "secondary_colour_3-bg";
                                    podHeadingStyle = "primary_colour_1-text";
                                    podTextStyle = "";
                                    break;
                            }
                        }

                        string podButtonStyle = "primary_colour_1-bg secondary_colour_3-text";

                        if (pod.HasValue("buttonColor"))
                        {
                            switch (pod.GetProperty("buttonColor").Value.ToString())
                            {
                                case "ffffff":
                                    podButtonStyle = "secondary_colour_3-bg primary_colour_1-text";
                                    break;
                                case "0b5a9c":
                                    podButtonStyle = "primary_colour_1-bg secondary_colour_3-text";
                                    break;
                                case "66c989":
                                    podButtonStyle = "primary_colour_2-bg secondary_colour_3-text";
                                    break;
                                case "2e89b6":
                                    buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                                    break;
                                case "eeeeee":
                                    podButtonStyle = "secondary_colour_2-bg primary_colour_1-text";
                                    break;
                                default:
                                    podButtonStyle = "primary_colour_1-bg secondary_colour_3-text";
                                    break;
                            }
                        }
                        
                        LinkInfo podLink = USNUrlHelper.GetSingleUrlFromUrlPicker(pod.GetPropertyValue<UrlPicker>("podLink"));

                        string itemClassFirstInRow = "";

                        //If first item in row of three And On last row and 2 items on this row
                        if (currentListCount % 3 == 1 && (currentListCount / totalRows == totalRows) && ((totalRows * 3) - totalItems == 1))
                        {
                            itemClassFirstInRow = "col-md-offset-2";
                        }
                        //If first item in row of three And On last row and 1 items on this row
                        else if (currentListCount % 3 == 1 && (currentListCount / totalRows == totalRows) && ((totalRows * 3) - totalItems == 2))
                        {
                            itemClassFirstInRow = "col-md-offset-4";
                        }

                        <div class="item col-md-4 col-sm-6 col-xs-12 @itemClassFirstInRow @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="inner @podBackgroundStyle">
                                @if (podLink != null)
                                {
                                    @Html.Raw("<a href=\"" + podLink.LinkURL + "\" " + podLink.LinkTitle + " " + podLink.LinkTarget + ">")
                                }
                                @if (pod.HasValue("podImage") && Umbraco.TypedMedia(pod.GetProperty("podImage").Value) != null)
                                {
                                    <div class="image">
                                        <img src="@Umbraco.TypedMedia(pod.GetProperty("podImage").Value).GetCropUrl(width: 345, height: 260)" alt="@pod.GetProperty("podImageAltText").Value">
                                    </div>
                                }
                                @if (pod.HasValue("podTitle"))
                                {
                                    <p class="heading @podHeadingStyle">@pod.GetProperty("podTitle").Value</p>
                                }
                                @if (podLink != null)
                                {
                                    @Html.Raw("</a>")
                                }
                                @if (pod.HasValue("podText"))
                                {
                                    <div class="info">
                                        <div class="text @podTextStyle">@Html.Raw(pod.GetProperty("podText").Value.ToString())</div>
                                    </div>
                                }
                                @if (podLink != null)
                                {
                                    <p class="link"><a role="button" class="btn @podButtonStyle" href="@podLink.LinkURL" @Html.Raw(podLink.LinkTarget) @Html.Raw(podLink.LinkTitle)>@podLink.LinkCaption@Html.Raw(podLink.LinkIcon)</a></p>
                                }
                            </div>
                        </div>
                        
                        currentListCount += 1;
                    }
                </div>
                <!--// ROW -->
				 @{
					var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");
				   
					if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
					{ 
						<!-- ROW - OUTRO -->
						<div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
								@if (Model.Content.HasValue("outroText"))
                            	{
                                <div class="text @textStyle">
                                    @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                </div>
                            	}
							
								@if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
								{
									<p class="link">
									@foreach (JObject link in outroLinks)
									{
										string linkTitle = String.Empty;
										string linkURL = String.Empty;
										string linkTarget = String.Empty;
										string linkIcon = String.Empty;
										IPublishedContent node = null;
										
										linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);
										
										<a role="button" class="btn @buttonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
									}
									</p>
								}
							
							</div>
						</div>
						<!--// ROW - OUTRO -->
				    }
        		}

            </div>
        </section>
    }
}
