﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;

@{
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    int totalCount = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Banner")).Count();

    if (totalCount > 0)
    {
        <section class="content advanced-component banner">
            <div class="slides">
                @foreach (var banner in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Banner")))
                {
                    string backgroundStyle = "secondary_colour_3-bg";
                    string headingStyle = "";
                    string textStyle = "";

                    if (banner.HasValue("backgroundColor"))
                    {
                        switch (banner.GetProperty("backgroundColor").Value.ToString())
                        {
                            case "ffffff":
                                backgroundStyle = "secondary_colour_3-bg";
                                headingStyle = "primary_colour_1-text";
                                textStyle = "";
                                break;
                            case "0b5a9c":
                                backgroundStyle = "primary_colour_1-bg";
                                headingStyle = "secondary_colour_3-text";
                                textStyle = "secondary_colour_3-text";
                                break;
                            case "66c989":
                                backgroundStyle = "primary_colour_2-bg";
                                headingStyle = "secondary_colour_3-text";
                                textStyle = "secondary_colour_3-text";
                                break;
                            case "2e89b6":
                                backgroundStyle = "secondary_colour_1-bg";
                                headingStyle = "secondary_colour_3-text";
                                textStyle = "secondary_colour_3-text";
                                break;
                            case "eeeeee":
                                backgroundStyle = "secondary_colour_2-bg";
                                headingStyle = "primary_colour_1-text";
                                textStyle = "";
                                break;
                            default:
                                backgroundStyle = "secondary_colour_3-bg";
                                headingStyle = "primary_colour_1-text";
                                textStyle = "";
                                break;
                        }
                    }

                    string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

                    if (banner.HasValue("buttonColor"))
                    {
                        switch (banner.GetProperty("buttonColor").Value.ToString())
                        {
                            case "ffffff":
                                buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                                break;
                            case "0b5a9c":
                                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                                break;
                            case "66c989":
                                buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                                break;
                            case "2e89b6":
                                buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                                break;
                            case "eeeeee":
                                buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                                break;
                            default:
                                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                                break;
                        }
                    }
                    
                    
                    if (banner.HasValue("bannerImage") && Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value) != null)
                    {
                        LinkInfo bannerLink = USNUrlHelper.GetSingleUrlFromUrlPicker(banner.GetPropertyValue<UrlPicker>("bannerLink"));
                       
                        <div class="item short @backgroundStyle">
						@*<div class="item short parallax primary_colour_1-bg">*@
						@*<div class="item takeover primary_colour_1-bg">*@
						@*<div class="item takeover parallax primary_colour_1-bg">*@	

                            <div class="image">
                                <img src="@Umbraco.TypedMedia(banner.GetProperty("bannerImage").Value).GetCropUrl(width: 1600, height: 550)" alt="@banner.GetProperty("bannerImageAltText").Value">
                            </div>

                            @if (banner.HasValue("bannerHeading") || banner.HasValue("bannerText") || bannerLink != null)
                            {
                                string textAlignment = "text-left";

                                if (banner.HasValue("bannerTextAlignment"))
                                {
                                    switch (banner.GetProperty("bannerTextAlignment").Value.ToString())
                                    {
                                        case "Left":
                                            textAlignment = "text-left";
                                            break;
                                        case "Center":
                                            textAlignment = "text-center col-md-offset-3";
                                            break;
                                        case "Right":
                                            textAlignment = "text-right pull-right";
                                            break;
                                        default:
                                            textAlignment = "text-left";
                                            break;
                                    }
                                }
                                 
                                <div class="info">
                                    <div class="container valign">
                                        <!-- ROW -->	
				                        <div class="row">
					
					                        <div class="col-md-6 col-xs-12 @textAlignment">
                                                @if (banner.HasValue("bannerHeading"))
                                                {
                                                    var bannerHeading = banner.GetPropertyValue<USNHeading>("bannerHeading");

                                                    if (bannerHeading != null && !String.IsNullOrEmpty(bannerHeading.Heading))
                                                    {
                                                        @Html.Raw("<" + bannerHeading.HeadingStyle + " class=\"heading main " + headingStyle + "\">")   
                                                        @bannerHeading.Heading
                                                        @Html.Raw("</" + bannerHeading.HeadingStyle + ">")   
                                                    }
                                                }
                                                @if (banner.HasValue("bannerText"))
                                                {
                                                    <div class="text @textStyle">
                                                        @Html.Raw(banner.GetProperty("bannerText").Value)
                                                    </div>
                                                }
                                                @if (bannerLink != null)
                                                {
                                                    <p class="link"><a role="button" class="btn btn-lg @buttonStyle" href="@bannerLink.LinkURL" @Html.Raw(bannerLink.LinkTarget) @Html.Raw(bannerLink.LinkTitle)>@bannerLink.LinkCaption@Html.Raw(bannerLink.LinkIcon)</a></p>
                                                }
                                            </div>
                                        </div>
                                        <!--// ROW -->
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </section>
    }
}
