﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    string backgroundStyle = "secondary_colour_3-bg";

    if (Model.Content.HasValue("backgroundColor"))
    {
        switch (Model.Content.GetProperty("backgroundColor").Value.ToString())
        {
            case "ffffff":
                backgroundStyle = "secondary_colour_3-bg";
                break;
            case "0b5a9c":
                backgroundStyle = "primary_colour_1-bg";
                break;
            case "66c989":
                backgroundStyle = "primary_colour_2-bg";
                break;
            case "2e89b6":
                backgroundStyle = "secondary_colour_1-bg";
                break;
            case "eeeeee":
                backgroundStyle = "secondary_colour_2-bg";
                break;
            default:
                backgroundStyle = "secondary_colour_3-bg";
                break;
        }
    }

    string animateClass = "";

    if (Model.Content.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    <section class="content advanced-component grid @backgroundStyle">
		<div class="@animateClass" data-os-animation="fadeIn" data-os-animation-delay="0">
        @Model.Content.GetGridHtml("grid", "Bootstrap3")
		</div>
    </section>
}
