﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<USN.Models.NewsletterFormViewModel>

@using USN.Heading.Umbraco.Models;
@using USN.UrlPicker.Umbraco.Models;

@{
    var currentPage = Umbraco.TypedContent(Model.CurrentNodeID);

    string firstDivClass = "col-md-7 col-xs-12 pull-left";
    string secondDivClass = "col-md-4 col-xs-12 pull-right";
    string textFadeInDirection = "fadeInLeft";
    string formFadeInDirection = "fadeInRight";
    

    if (currentPage.HasValue("textSectionPosition") && currentPage.GetProperty("textSectionPosition").Value.ToString() == "Right")
    {
        firstDivClass = "col-md-7 col-xs-12 pull-right";
        secondDivClass = "col-md-4 col-xs-12 pull-left";
        textFadeInDirection = "fadeInRight";
        formFadeInDirection = "fadeInLeft";
    }

    string backgroundStyle = "secondary_colour_3-bg";
    string headingStyle = "";
    string textStyle = "";

    if (currentPage.HasValue("backgroundColor"))
    {
        switch (currentPage.GetProperty("backgroundColor").Value.ToString())
        {
            case "ffffff":
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            case "0b5a9c":
                backgroundStyle = "primary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "66c989":
                backgroundStyle = "primary_colour_2-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "2e89b6":
                backgroundStyle = "secondary_colour_1-bg";
                headingStyle = "secondary_colour_3-text";
                textStyle = "secondary_colour_3-text";
                break;
            case "eeeeee":
                backgroundStyle = "secondary_colour_2-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
            default:
                backgroundStyle = "secondary_colour_3-bg";
                headingStyle = "primary_colour_1-text";
                textStyle = "";
                break;
        }
    }

    string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

    if (currentPage.HasValue("buttonColor"))
    {
        switch (currentPage.GetProperty("buttonColor").Value.ToString())
        {
            case "ffffff":
                buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                break;
            case "0b5a9c":
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
            case "66c989":
                buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                break;
            case "2e89b6":
                buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                break;
            case "eeeeee":
                buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                break;
            default:
                buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                break;
        }
    }

    string animateClass = "";

    if (currentPage.GetPropertyValue<bool>("animate"))
    {
        animateClass = "os-animation";
    }

    LinkInfo link = USNUrlHelper.GetSingleUrlFromUrlPicker(currentPage.GetPropertyValue<UrlPicker>("link"));

     <!-- COMPONENT ANCHOR -->
    <a id="pos_@currentPage.Id"></a>
    <!--// COMPONENT ANCHOR -->

    <section class="content advanced-component text-with-form @backgroundStyle">
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <div class="@firstDivClass @animateClass" data-os-animation="@textFadeInDirection" data-os-animation-delay="0">

                    <!-- INFO -->
                    <div class="info">
                                                
                        @if (currentPage.HasValue("heading"))
                        {
                            var heading = currentPage.GetPropertyValue<USNHeading>("heading");

                            if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                            {
                                @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + headingStyle +"\">")
                                @heading.Heading
                                @Html.Raw("</" + heading.HeadingStyle + ">")
                            }
                        }

                        @if (currentPage.HasValue("text"))
                        {
							<div class="text @textStyle">
                            @Html.Raw(currentPage.GetProperty("text").Value)
							</div>
                        }
                        
                        @if (link != null)
                        {
                            <p class="link"><a role="button" class="btn @buttonStyle" href="@link.LinkURL" @Html.Raw(link.LinkTarget) @Html.Raw(link.LinkTitle)>@link.LinkCaption@Html.Raw(link.LinkIcon)</a></p>
                        }
                    </div>
                    <!--// INFO -->

                </div>

                <div class="@secondDivClass @animateClass" data-os-animation="@formFadeInDirection" data-os-animation-delay="0">

                    @Html.Partial("USNForms/USN_NewsletterSignup", @Model)

                </div>

            </div>
            <!--// ROW -->

        </div>
    </section>

}