﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.UrlPicker.Umbraco.Models;
@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;

@{
    <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    int totalCount = Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Thumbnail")).Count();

    if (totalCount > 0)
    {
        string backgroundStyle = "secondary_colour_3-bg";
        string headingStyle = "";
        string textStyle = "";

        if (Model.Content.HasValue("backgroundColor"))
        {
            switch (Model.Content.GetProperty("backgroundColor").Value.ToString())
            {
                case "ffffff":
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                case "0b5a9c":
                    backgroundStyle = "primary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "66c989":
                    backgroundStyle = "primary_colour_2-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "2e89b6":
                    backgroundStyle = "secondary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "eeeeee":
                    backgroundStyle = "secondary_colour_2-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                default:
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
            }
        }

        string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

        if (Model.Content.HasValue("buttonColor"))
        {
            switch (Model.Content.GetProperty("buttonColor").Value.ToString())
            {
                case "ffffff":
                    buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                    break;
                case "0b5a9c":
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
                case "66c989":
                    buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                    break;
                case "2e89b6":
                    buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                    break;
                case "eeeeee":
                    buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                    break;
                default:
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
            }
        }

        string animateClass = "";

        if (Model.Content.GetPropertyValue<bool>("animate"))
        {
            animateClass = "os-animation";
        }
        
        <section class="content advanced-component image_carousel @backgroundStyle">
            <div class="container">

                    @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
					{
					<!-- ROW - OVERVIEW -->
					<div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
						<div class="col-md-8 col-sm-10 col-xs-12">
							@if (Model.Content.HasValue("introductionHeading"))
							{
								var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");
	
								if (heading != null && !String.IsNullOrEmpty(heading.Heading))
								{
									@Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + headingStyle + "\">" + heading.Heading + "</" + heading.HeadingStyle + ">")
								}
							}
							@if (Model.Content.HasValue("introductionText"))
							{
								<div class="text @textStyle">
									@Html.Raw(Model.Content.GetProperty("introductionText").Value)
								</div>
							}
						</div>
					</div>
					}
                    
					<!-- ROW -->
					<div class="row">
						<div class="col-xs-12">
							<div class="gallery slides">
								@foreach (var thumbnail in Model.Content.Children.Where(x => x.IsDocumentType("USN_AC_Thumbnail")))
								{
									if (thumbnail.HasValue("thumbnailImage") && Umbraco.TypedMedia(thumbnail.GetProperty("thumbnailImage").Value) != null)
									{
										LinkInfo link = USNUrlHelper.GetSingleUrlFromUrlPicker(thumbnail.GetPropertyValue<UrlPicker>("thumbnailLink"));
										
										<div class="item">
											<div class="image">
												@if (link != null)
												{
													@Html.Raw("<a href=\"" + link.LinkURL + "\" " + link.LinkTitle + " " + link.LinkTarget + "\">")
												}
												<img src="@Umbraco.TypedMedia(thumbnail.GetProperty("thumbnailImage").Value).GetCropUrl(width: 300, height: 160)" alt="@thumbnail.GetProperty("thumbnailImageAltText").Value">
												@if (link != null)
												{
													if (link.LinkIcon == String.Empty)
													{
														<div class="overlayicon"><i class="fa fa-link"></i></div>
													}
													else
													{  
														<div class="overlayicon">@Html.Raw(link.LinkIcon)</div>
													}
													@Html.Raw("</a>")
												}
											</div>
										</div>
									}
								}
							</div>
						</div>
					</div>
					<!--// ROW -->
							
							
					@{
					var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");
				   
					if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
					{ 
						<!-- ROW - OUTRO -->
						<div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
							<div class="col-md-8 col-sm-10 col-xs-12">
								@if (Model.Content.HasValue("outroText"))
                            	{
                                <div class="text @textStyle">
                                    @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                </div>
                            	}
							
								@if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
								{
									<p class="link">
									@foreach (JObject link in outroLinks)
                                    {
                                        string linkTitle = String.Empty;
                                        string linkURL = String.Empty;
                                        string linkTarget = String.Empty;
                                        string linkIcon = String.Empty;
                                        IPublishedContent node = null;

                                        linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                        <a role="button" class="btn @buttonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                    }
									</p>
								}
							
							</div>
						</div>
						<!--// ROW - OUTRO -->
				    }
        		}
		
            </div>
        </section>
    }
}

