﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
@{
     
    if (Model.Content.Children.Where(x => x.IsDocumentType("USNAdvancedPageComponents")).Count() > 0)
    {
        var pageComponentsNode = Model.Content.Children.Where(x => x.IsDocumentType("USNAdvancedPageComponents")).First();

        foreach (var section in pageComponentsNode.Children.OrderBy("SortOrder"))
        {
            string lsNodeTypeAlias = section.DocumentTypeAlias;

            switch (lsNodeTypeAlias)
            {
                case "USN_AC_BannerSlider_AN":
                    @Html.Partial("USNAdvancedPageComponents/USN_AC_BannerSlider", @section)
                    break;
                case "USN_AC_PodsSection_AN":
                    @Html.Partial("USNAdvancedPageComponents/USN_AC_PodsSection", @section)
                    break;
                case "USN_AC_GridLayoutSection_AN":
                    @Html.Partial("USNAdvancedPageComponents/USN_AC_GridLayoutSection", @section, new ViewDataDictionary { { "pageType", "advanced" } });
                    break;
                case "USN_AC_TextSignupSection_AN":
                    @Html.Action("TextSignup", "NewsletterSignupSurface", new { NodeID = section.Id, ActualPageID = Model.Content.Id, PageType = "" })
                    break;
                case "USN_AC_SignupSubpageListingSection_AN":
                    @Html.Action("SubpageSignup", "NewsletterSignupSurface", new { NodeID = section.Id, ActualPageID = Model.Content.Id, PageType = "" })
                    break;
                case "USN_AC_TextVideoOrImageSection_AN":
                   @Html.Partial("USNAdvancedPageComponents/USN_AC_TextVideoOrImageSection", @section, new ViewDataDictionary { { "pageType", "advanced" } });
                   break;
                case "USN_AC_TabbedListingSection_AN":
                   @Html.Partial("USNAdvancedPageComponents/USN_AC_TabbedListingSection", @section, new ViewDataDictionary { { "pageType", "advanced" } });
                   break;
				case "USN_AC_ThumbnailSlider_AN":
                   @Html.Partial("USNAdvancedPageComponents/USN_AC_ThumbnailSlider", @section, new ViewDataDictionary { { "pageType", "advanced" } });
                   break;
                case "USN_SC_RepeaterSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_RepeaterSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_ResourcesSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_ResourcesSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_TextSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_TextSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_Alert_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_Alert", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_LinksSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_LinksSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_GallerySection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_GallerySection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_Blockquote_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_Blockquote", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_ListSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_ListSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_CodeSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_CodeSection", @section, new ViewDataDictionary { { "pageType", "advanced" } })
                    break;
                case "USN_SC_SlideshowSection_AN":
                    @Html.Partial("USNStandardPageComponents/USN_SC_SlideshowSection", @section, new ViewDataDictionary { { "pageType", "advanced" } });
                    break;
                case "USN_NewsletterSignup_AN":
                    <!-- COMPONENT ANCHOR -->
                    <a id="pos_@Html.Raw(section.Id)"></a>
                    <!--// COMPONENT ANCHOR -->
                    <div class="page_component newsletter">
                        @Html.Action("Index", "NewsletterSignupSurface", new { NodeID = section.Id, ActualPageID = Model.Content.Id, PageType = "advanced" })
                    </div>
                    break;
                case "USN_SC_ContactForm_AN":
                    <!-- COMPONENT ANCHOR -->
                    <a id="pos_@Html.Raw(section.Id)"></a>
                    <!--// COMPONENT ANCHOR -->
                    <div class="page_component contact">
                        @Html.Action("Index", "ContactFormSurface", new { NodeID = section.Id, PageType = "advanced" })
                    </div>
                    break;
            }
        }
    }
}
