﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using USN.Heading.Umbraco.Models;
@using Newtonsoft.Json.Linq;

@{
 <!-- COMPONENT ANCHOR -->
    <a id="pos_@Model.Content.Id"></a>
    <!--// COMPONENT ANCHOR -->

    int pagesDisplayCount = 0;

    if (Model.Content.HasValue("pagesToDisplay"))
    {
        pagesDisplayCount = Convert.ToInt32(Model.Content.GetProperty("pagesToDisplay").Value);
    }

    var linkToListings = Model.Content.GetPropertyValue<JArray>("linkToListings");

    if (pagesDisplayCount != 0 && (linkToListings != null && Model.Content.GetPropertyValue<string>("linkToListings", true, "").Length > 2))
    {
        int listPage = 1;

        string backgroundStyle = "secondary_colour_3-bg";
        string headingStyle = "";
        string textStyle = "";

        if (Model.Content.HasValue("backgroundColor"))
        {
            switch (Model.Content.GetProperty("backgroundColor").Value.ToString())
            {
                case "ffffff":
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                case "0b5a9c":
                    backgroundStyle = "primary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "66c989":
                    backgroundStyle = "primary_colour_2-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "2e89b6":
                    backgroundStyle = "secondary_colour_1-bg";
                    headingStyle = "secondary_colour_3-text";
                    textStyle = "secondary_colour_3-text";
                    break;
                case "eeeeee":
                    backgroundStyle = "secondary_colour_2-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
                default:
                    backgroundStyle = "secondary_colour_3-bg";
                    headingStyle = "primary_colour_1-text";
                    textStyle = "";
                    break;
            }
        }

        string buttonStyle = "primary_colour_1-bg secondary_colour_3-text";

        if (Model.Content.HasValue("buttonColor"))
        {
            switch (Model.Content.GetProperty("buttonColor").Value.ToString())
            {
                case "ffffff":
                    buttonStyle = "secondary_colour_3-bg primary_colour_1-text";
                    break;
                case "0b5a9c":
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
                case "66c989":
                    buttonStyle = "primary_colour_2-bg secondary_colour_3-text";
                    break;
                case "2e89b6":
                    buttonStyle = "secondary_colour_1-bg secondary_colour_3-text";
                    break;
                case "eeeeee":
                    buttonStyle = "secondary_colour_2-bg primary_colour_1-text";
                    break;
                default:
                    buttonStyle = "primary_colour_1-bg secondary_colour_3-text";
                    break;
            }
        }

        string animateClass = "";

        if (Model.Content.GetPropertyValue<bool>("animate"))
        {
            animateClass = "os-animation";
        }

        <section class="content advanced-component tabbed-listing @backgroundStyle">
            <div class="container">
	
                @if (Model.Content.HasValue("introductionHeading") || Model.Content.HasValue("introductionText"))
                {
                <!-- ROW - OVERVIEW -->
                    <div class="row overview @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                            @if (Model.Content.HasValue("introductionHeading"))
                            {
                                var heading = Model.Content.GetPropertyValue<USNHeading>("introductionHeading");

                                if (heading != null && !String.IsNullOrEmpty(heading.Heading))
                                {
                                    @Html.Raw("<" + heading.HeadingStyle + " class=\"heading main " + headingStyle + "\">" + heading.Heading + "</" + heading.HeadingStyle + ">")
                                }
                            }
                            @if (Model.Content.HasValue("introductionText"))
                            {
                                <div class="text @textStyle">
                                    @Html.Raw(Model.Content.GetProperty("introductionText").Value)
                                </div>
                            }
                        </div>
                    </div>
                <!--// ROW - OVERVIEW -->
                }
								
                <!-- ROW -->
                <div class="row">

                    <div class="tabbed col-xs-12" role="tabpanel">

                        <ul class="nav nav-tabs responsive text-center" role="tablist">
                            @foreach (JObject link in linkToListings)
                            {
                                string linkTitle = String.Empty;
                                string linkURL = String.Empty;
                                string linkTarget = String.Empty;
                                string linkIcon = String.Empty;
                                IPublishedContent node = null;
                                
                                linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                if (node != null && (node.IsDocumentType("USNStandardPagelevel1") || node.IsDocumentType("USNStandardPagelevel2") || node.IsDocumentType("USNAdvancedPageLevel1") || node.IsDocumentType("USNAdvancedPageLevel2")))
                                {
                                    <li role="presentation" @if (listPage == 1) { @Html.Raw("class=\"active\"") }>
                                        <a href="#tab-name-@Model.Content.Id-@listPage" aria-controls="tab-name-@Model.Content.Id-@listPage" role="tab" data-toggle="tab">
                                            @(link.Value<string>("caption"))<i class="fa fa-chevron-down pull-right after highlight"></i>
                                        </a>
                                    </li>
                                    listPage += 1;
                                }
                            }
                        </ul>

                        @{listPage = 1;}

                        <div class="tab-content responsive">

                            @foreach (JObject link in linkToListings)
                            {
                                string linkTitle = String.Empty;
                                string linkURL = String.Empty;
                                string linkTarget = String.Empty;
                                string linkIcon = String.Empty;
                                IPublishedContent node = null;

                                linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                if (node != null && (node.IsDocumentType("USNStandardPagelevel1") || node.IsDocumentType("USNStandardPagelevel2") || node.IsDocumentType("USNAdvancedPageLevel1") || node.IsDocumentType("USNAdvancedPageLevel2")))
                                {
                                    string pageName = "";

                                    if (node.HasValue("subNavigationLinkText"))
                                    {
                                        pageName = node.GetProperty("subNavigationLinkText").Value.ToString();
                                    }
                                    else
                                    {
                                        pageName = @node.Name;
                                    }
                                    <div id="tab-name-@Model.Content.Id-@listPage" role="tabpanel" class="tab-pane @if(listPage == 1){@Html.Raw("active")}">
                                        @if (node.Children.Where(x => x.IsDocumentType("USNStandardPagelevel2") || x.IsDocumentType("USNStandardPagelevel3") || x.IsDocumentType("USNAdvancedPageLevel2") || x.IsDocumentType("USNAdvancedPageLevel3")).Count() > 0)
                                        {
                                            int totalItems = node.Children.Where(x => x.IsDocumentType("USNStandardPagelevel2") || x.IsDocumentType("USNStandardPagelevel3") || x.IsDocumentType("USNAdvancedPageLevel2") || x.IsDocumentType("USNAdvancedPageLevel3")).Count();

                                            int currentListCount = 1;

                                            int totalRows = (totalItems / 3);

                                            if (totalItems % 3 > 0)
                                            {
                                                totalRows += 1;
                                            }
                                            
                                            <!-- LISTING -->
                                            <div class="row listing section grid">
                                                @foreach (var subPage in node.Children.Where(x => x.IsDocumentType("USNStandardPagelevel2") || x.IsDocumentType("USNStandardPagelevel3") || x.IsDocumentType("USNAdvancedPageLevel2") || x.IsDocumentType("USNAdvancedPageLevel3")).OrderBy("SortOrder").Take(pagesDisplayCount))
                                                {
                                                    string itemClassFirstInRow = "";

                                                    //If first item in row of three And On last row and 2 items on this row
                                                    if (currentListCount % 3 == 1 && (currentListCount / totalRows == totalRows) && ((totalRows * 3) - totalItems == 1))
                                                    {
                                                        itemClassFirstInRow = "col-md-offset-2";
                                                    }
                                                    //If first item in row of three And On last row and 1 items on this row
                                                    else if (currentListCount % 3 == 1 && (currentListCount / totalRows == totalRows) && ((totalRows * 3) - totalItems == 2))
                                                    {
                                                        itemClassFirstInRow = "col-md-offset-4";
                                                    }
                                                    
                                                    string introText = "";

                                                    if (subPage.HasValue("pageSummary"))
                                                    {
                                                        introText = subPage.GetProperty("pageSummary").Value.ToString();
                                                    }
                                                    else
                                                    {
                                                        if (Model.Content.HasValue("summaryTextCharacterCount"))
                                                        {
                                                            int summaryTextLength = Convert.ToInt32(Model.Content.GetProperty("summaryTextCharacterCount").Value);

                                                            if (summaryTextLength > 0 && subPage.HasProperty("bodyText"))
                                                            {
                                                                introText = subPage.GetProperty("bodyText").Value.ToString().StripHtml().Trim();

                                                                if (introText.Length >= summaryTextLength)
                                                                {
                                                                    introText = introText.Substring(0, summaryTextLength);
                                                                }

                                                                if (introText.Length > 0)
                                                                {
                                                                    introText = "<p>" + introText + " ...</p>";
                                                                }
                                                            }
                                                        }
                                                    }

                                                    <!-- ITEM -->
                                                    <div class="item col-md-4 col-sm-6 col-xs-12 @itemClassFirstInRow">

                                                        <a href="@subPage.Url">
                                                       		@if (subPage.HasValue("pageListingImage") && Umbraco.TypedMedia(subPage.GetProperty("pageListingImage").Value) != null)
                                                        	{
                                                            <div class="image">
                                                            	<img src="@Umbraco.TypedMedia(subPage.GetProperty("pageListingImage").Value).GetCropUrl(width: 360, height: 270)" alt="@subPage.GetProperty("pageListingImageAltText").Value">
                                                            </div>
                                                        	}
                                                            <p class="heading @headingStyle">
																@if (subPage.HasValue("subPageListingLinkText"))
																{
																	@subPage.GetProperty("subPageListingLinkText").Value.ToString()
																}
																else
																{
																	@subPage.Name
																}
                                                            </p>
														</a>
														@if (introText != String.Empty)
														{
															<div class="text @textStyle">
																@Html.Raw(introText)
															</div>
														}
                                                    </div>
                                                	<!--// ITEM -->
                                                    currentListCount += 1;
                                                }
                                            </div>
                                            <!--// LISTING  -->

                                            <p class="link text-center"><a class="btn @buttonStyle" href="@linkURL" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@(link.Value<string>("caption"))@Html.Raw(linkIcon)</a></p>
                                        
                                            
                                        }
                                    </div>

                                    listPage += 1;
                                }
                            }
                        </div>

                    </div>
                </div>
                <!--// ROW -->
					
				@{
                    var outroLinks = Model.Content.GetPropertyValue<JArray>("outroLinks");

                    if (Model.Content.HasValue("outroText") || (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2))
                    {
					<!-- ROW - OUTRO -->
                        <div class="row outro @animateClass" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                                @if (Model.Content.HasValue("outroText"))
                                {
                                    <div class="text @textStyle">
                                        @Html.Raw(Model.Content.GetProperty("outroText").Value)
                                    </div>
                                }

                                @if (outroLinks != null && Model.Content.GetPropertyValue<string>("outroLinks", true, "").Length > 2)
                                {
                                    <p class="link">
                                        @foreach (JObject link in outroLinks)
                                        {
                                            string linkTitle = String.Empty;
                                            string linkURL = String.Empty;
                                            string linkTarget = String.Empty;
                                            string linkIcon = String.Empty;
                                            IPublishedContent node = null;

                                            linkURL = USNUrlHelper.GetSingleUrlFromJObject(link, out linkTitle, out linkTarget, out linkIcon, out node);

                                            <a role="button" href="@linkURL" class="btn @buttonStyle" @Html.Raw(linkTarget) @Html.Raw(linkTitle)>@Html.Raw(link.Value<string>("caption"))@Html.Raw(linkIcon)</a>
                                        }
                                    </p>
                                }

                            </div>
                        </div>
					<!--// ROW - OUTRO -->
                    }
                }
							
            </div>
        </section>
    }
}
